/**** commom stylesheet here  ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    font-family: 'Poppins', sans-serif;
}

/* dev_shakil_full_site_wrraper */
.dev_shakil_full_site_wrraper {
    display: flex;
    position: relative;
}

/**** dev_sideNavbar stylesheet here *****/
.dev_shakil_full_site_wrraper .dev_sideNav {
    position: fixed;
    width: 17rem;
    height: 100%;
    padding: 50px 40px 40px;
    background-color: #070a1c;
}

.dev-profile {
    position: relative;
    width: 160px;
    height: 160px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.dev-profile::before {
    content: '';
    position: absolute;
    inset: -4px 60px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    0% {
        transform: rotate(360deg);
    }
}

.dev-profile::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.dev-image {
    position: absolute;
    inset: 2px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.dev-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**** dev_sideNav menu stylesheet here  ****/
.dev_sideNav ul {
    list-style: none;
    margin-top: 1.5rem;
}

.dev_sideNav ul li {
    padding: 0.8rem;
}

.dev_sideNav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .5s;
}

.dev_sideNav ul li a:hover {
    color: #ff5200;
}

.dev_sideNav ul li a i {
    margin-right: 0.5rem;
}

.dev_sideNav span {
    position: relative;
    display: block;
}

.dev_sideNav span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #cccccca3;
    top: 7rem;
    left: 0;
}

.dev_sideNav h3 {
    margin-top: 8rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

.dev_shakil_full_site_wrraper .dev_sideNav .dev_social_media {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dev_social_media a {
    display: block;
    width: 2.8rem;
    font-size: 1.2rem;
    background: #161420;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    margin: 0 0.5rem;
    color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    box-shadow: 6px 6px 10px #1c1a27, -6px 6px -10px #211f2e;
}

.dev_social_media a:hover {
    transform: translateY(-0.5rem);
    color: #ff5200;
}

/**** dev_sideNavbar stylesheet end here *****/
/***** dev_sh_main_content stylesheet start here  *****/
.dev_sh_main_content {
    width: 100%;
    margin-left: 18rem;
}

/**** dev-banner section stylesheet here  ****/
.dev-banner {
    background-image: url(/images/banner-bg/banner-bg.avif);
    background-size: cover;
    background-position: center;
    padding: 14rem 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.dev-banner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070a1c96;
    top: 0;
    left: 0;
    z-index: -1;
}

.dev_banner_title h3 {
    font-size: 4rem;
    font-weight: 800;
    color: blue;
}

.dev_banner_title h1 {
    font-size: 7rem;
    font-weight: 700;
    color: white;
}

.dev_banner_title h4 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

.dev_banner_title h4 span {
    color: #ff5200;
}

.contact-btn {
    margin-top: 2rem;
    margin-right: 0.5rem;
}

.hire-btn {
    margin-top: 2rem;
    margin-left: 0.5rem;
}

.hero-btn {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background: #070a1c;
    color: #ff5200;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #46454d, -10px 10px -20px #423f58;
    transition: all .5s ease-in-out;
}

.hero-btn:hover {
    transform: translateY(-4px);
    color: blue;
}

/**** dev-banner section stylesheet end here  ****/
/* dev_features_section stylesheet start here  */
.dev_features_section {
    background-color: #161420;
    color: white;
    padding: 5rem 2rem;
}

.hero-title {
    text-align: center;
    margin-bottom: 3rem;
}

.hero-title h5 {
    font-size: 1rem;
    font-weight: 500;
    color: #ff5200;
}

.hero-title h2 {
    font-size: 4rem;
    font-weight: 600;
    color: white;
    margin-top: 1rem;
}

.dev_single_features_card {
    display: flex;
    width: 100%;
    margin-bottom: 2.5rem;
    background: #211f2e;
    transition: all .5s ease-in-out;
}

.dev_single_features_card:hover {
    transform: translateY(-4px);
}

.dev_feature_card_img {
    width: 35%;
    height: 100%;
}

.dev_feature_card_img img {
    width: 100%;
    height: 22rem;
    border-radius: 0.5rem 0 0 0.5rem;
}

.dev_features_card_body {
    width: 65%;
    position: relative;
}

.dev_sg_card_title {
    margin-left: 1.1rem;
    margin-top: 5rem;
}

.dev_sg_card_title h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.dev_sg_card_title p {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
    width: 540px;
    color: #b3b0b0;
    line-height: 1.8rem;
    text-align: justify;
    transition: .5s;
}

.dev_single_features_card:hover p {
    color: white;
}

.dev_sg_card_title p i {
    color: #ff5200;
    position: relative;
    top: 0.4rem;
    margin-left: 0.8rem;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.dev_sg_card_title:hover i {
    visibility: visible;
    opacity: 1;
}

.feature-btn {
    position: absolute;
    right: 1.5rem;
    top: 50%;
}

/* dev_features_section stylesheet end here  */
/* about-section stylesheet start here  */
.about-section {
    background-color: #161420;
    color: white;
    padding: 5rem 2rem;
}

.about_page_wrraper {
    display: flex;
    margin-bottom: 6rem;
}

.about_me_text {
    width: 50%;
    height: auto;
    padding: 2.5rem;
    position: relative;
    z-index: 1;
}

.about_me_text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 2px;
    background-color: rgb(7, 7, 7);
    z-index: -1;
    filter: blur(10px)
}

.about_me_text h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.about_me_text h3 span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    background: #ff5200;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5rem;
    position: relative;
    bottom: 0.2rem;
}

.about_me_text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ff5200;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.about_me_text p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: justify;
}

.about_me_text ul {
    list-style: none;
    margin-top: 1rem;
}

.about_me_text ul li {
    padding: 0.5rem 0;
}

.about_me_text ul li span {
    font-size: 1.2rem;
    font-weight: 500;
    color: blue;
    display: inline-block;
    margin-right: 0.5rem;
}

.about_me_text ul li strong {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    display: inline-block;
    margin-right: 0.5rem;
}

.about_me_text ul a {
    display: block;
    padding: 0.5rem;
}

.about_me_text ul a span {
    font-size: 1.2rem;
    font-weight: 500;
    color: blue;
    margin-right: 0.5rem;
}

.about_me_text ul a strong {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-right: 0.5rem;
}

.about_me_image {
    width: 49%;
    height: auto;
    margin-left: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.about_me_image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 2px;
    left: -2px;
    right: -2px;
    bottom: 2px;
    background-color: rgb(7, 7, 7);
    z-index: -1;
    filter: blur(10px);
}

.about_me_image img {
    width: 80%;
    height: auto;
    box-shadow: 10px 10px 20px #1b1280,
        -10px 10px -20px #331f74;
    transition: all .5s;
}

.about_me_image:hover img {
    transform: translateY(-4px);
}

/* about_education stylesheet  */
.about_education {}

.education_wrraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.edu_qulafication_title h6 {
    color: #ff5200;
    font-size: 0.9rem;
    font-weight: 400;
}

.edu_qulafication_title h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.education_common_card {
    padding: 2rem;
    box-shadow: -2px 0px 6px 5px #040404;
    position: relative;
    margin-bottom: 3.5rem;
    width: 100%;
    height: 22rem;
    transition: all .5s ease-in-out;
}

.education_common_card:hover {
    transform: translateY(-4px);
}

.education_common_card h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.education_common_card h6 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.education_common_card p {
    font-size: 1.5rem;
    width: 400px;
    font-weight: 500;
    color: #b1b1b1;
    line-height: 1.9rem;
    text-align: justify;
    transition: all .5s ease-in-out;
}

.education_common_card:hover p {
    color: white;
}

.edu_btn {
    position: absolute;
    right: 2rem;
    top: 42%;
    box-shadow: 4px 0px 13px #000;
    font-size: 1rem;
    font-weight: 500;
}

/* about_education stylesheet end  */

/* about-section stylesheet end here  */